/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #C0E6DE;
}  */

.nav-link.active {
    color: #269490 !important;
    font-weight: bold;
}

.card-animal.hidden {
    display: none;
}

footer {
    background-color: #212427;
    color: #fdfdfd;
}

footer a {
    color: #fdfdfd;
    text-decoration: none;
}

footer a:hover {
    color: #FFDC5E;
}

.card.hide {
    display: none !important;
}